body{
  width: 1200px;
  margin: auto;
}

/***** PRE HEADER ******/
.pre_header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  background-color: #373534;
  color: #adaaa8;


}
.pre_header_telephone{
  background-color: #6d6a68;
  padding: 10px;
  padding-bottom: 15px;
}
.pre_header_email{
  flex-grow: 1;

  padding: 10px;
}
.pre_header_account{
  display: block;
  background-color: #6d6a68;

  color: inherit;
  text-decoration: none;

  padding: 10px;
}

/***** HEADER ******/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 280px;
}
.header_menue{
  display: flex;
  margin-left: 80px;
  flex-grow: 0.5;

  list-style: none;
}
.header_menue div{
  text-transform: uppercase;
  padding-left: 40px;
}
.basket{
  display: flex;
  align-items: center;
}
.icon-magnifying-glass{
  margin-right: 10px;
  font-size: 1.5em;


}
.icon-paper-bag{
  font-size: 1.5em;
}
.basket_text{
  margin: 10px;
}
.blackTitle{
  text-transform: uppercase;
  font-weight: bold;
}

/***** COLLECTION ****/

.collection{
  display: grid;
  grid-template-columns: 35% 15% 25% 25%;
  grid-template-areas:
    "nouvellecollection nouvellecollection canape_3_place banc_blanc"
    "nouvellecollection nouvellecollection canape_3_place chaise"
    "zio tabouret tabouret tabouret"
    "totem tabouret tabouret tabouret"
}
.chaise{
  grid-area: chaise;
}
.banc_blanc{
  grid-area: banc_blanc;
}
.nouvellecollection{
  grid-area: nouvellecollection;
}
.canape_3_place{
  grid-area: canape_3_place;
}
.canape_3_place_prix{
  width: 100px;
  height: 100px;
  background-color: #62c5de;
  color: white;
  border-radius: 50%;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.canape_3_place_prix_old{
  text-decoration: line-through;
}
.zio{
  grid-area: zio;
}
.totem{
  grid-area: totem;
}
.tabouret{
  grid-area: tabouret;
}

/***** MOMENT ******/

.moment_menue{
  display: flex;
  width: 35%;
  justify-content: space-between;
  margin-top: 30px;
}
.moment_menue a{
  text-decoration: none;
  color: #6d6a68;
  font-weight: bold;
  text-transform: uppercase;

}

.moment{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.moment_img{
  width: 280px;
  height: 280px;
}
.moment_nom{
  color: #6d6a68;
  margin-left: 10px;
  margin-top: 10px;
}
.moment_prix{
  font-size: 1.5em;
  margin-left: 10px;
}

/**** BESTSELLER *****/
.bestseller{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.bestseller_titre{
  text-transform: uppercase;
  font-weight: bold;
}
.bestseller_img{
  width: 220px;
  height: 220px;
}
.bestseller_nom{
  color: #6d6a68;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 0.8em;
}
.bestseller_prix{
  margin-left: 10px;
  font-weight: bold;
}
.bestseller_tile{
  position: relative;
}
.bestseller_hover{
  display: flex;
  height: 50px;
  position: absolute;
  bottom: 30px;
}
