body{
  width: 1200px;
  margin: auto;
}

/***** PRE HEADER ******/
.pre_header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  background-color: #373534;
  color: #adaaa8;


}
.pre_header_telephone{
  background-color: #6d6a68;
  padding: 10px;
  padding-bottom: 15px;
}
.pre_header_email{
  flex-grow: 1;

  padding: 10px;
}
.pre_header_account{
  display: block;
  background-color: #6d6a68;

  color: inherit;
  text-decoration: none;

  padding: 10px;
}

/***** HEADER ******/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 280px;
}
.header_menue{
  display: flex;
  justify-content: space-around;
  flex-grow: 0.5;

  list-style: none;
}
.header_menue div{
  text-transform: uppercase;
}
.basket{
  display: flex;
  align-items: center;
}
.icon-magnifying-glass{
  margin-right: 10px;
  font-size: 1.5em;

}
.icon-paper-bag{
  font-size: 1.5em;
}
.basket_text{
  margin: 10px;
}
.blackTitle{
  text-transform: uppercase;
  font-weight: bold;
}

/***** COLLECTION ****/

.collection{
  display: grid;
  grid-template-columns: 35% 15% 25% 25%;
  grid-template-areas:
    "nouvellecollection nouvellecollection canape_3_place banc_blanc"
    "nouvellecollection nouvellecollection canape_3_place chaise"
    "zio tabouret tabouret tabouret"
    "totem tabouret tabouret tabouret"
}
.chaise{
  grid-area: chaise;
}
.banc_blanc{
  grid-area: banc_blanc;
}
.nouvellecollection{
  grid-area: nouvellecollection;
}
.canape_3_place{
  grid-area: canape_3_place;
}
.zio{
  grid-area: zio;
}
.totem{
  grid-area: totem;
}
.tabouret{
  grid-area: tabouret;
}
