body{
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}
.content{
  margin: auto;
  width: 1000px;
}
@media screen and (max-width: 780px){
  .content{
    width: 565px;
  }
}

/***** PRE HEADER ******/
.pre_header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  background-color: #373534;
  color: #adaaa8;


}
@media screen and (max-width: 780px){
  .pre_header{

  }
}
.pre_header_telephone{
  background-color: #6d6a68;
  padding: 10px;
  padding-bottom: 15px;
}
.pre_header_email{
  flex-grow: 1;

  padding: 10px;
}
.pre_header_account{
  display: block;
  background-color: #6d6a68;

  color: inherit;
  text-decoration: none;

  padding: 10px;
}

/***** HEADER ******/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 780px){
  .header{
    flex-direction: column;
    align-items: left;
    margin: auto;
  }
  .logo{
    width: 100px;
  }
}
.logo{
  width: 280px;
}
.header_menue{
  display: flex;
  width: 600px;

  list-style: none;
}
.header_menue div{
  text-transform: uppercase;
  padding-left: 40px;
  font-size: 0.8em;
}
.basket{
  display: flex;
  align-items: center;
}
.icon-magnifying-glass{
  margin-right: 10px;
  font-size: 1.5em;


}
.icon-paper-bag{
  font-size: 1.5em;
}
.basket_text{
  margin: 10px;
}
.basket_text_content{
  font-size: 0.6em;
}
.blackTitle{
  text-transform: uppercase;
  font-weight: bold;
}

/***** COLLECTION ****/

.collection{
  display: grid;
  grid-template-columns: 34% 15% 20% 25%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas:
    "nouvellecollection nouvellecollection canape_3_place banc_blanc"
    "nouvellecollection nouvellecollection canape_3_place chaise"
    "zio tabouret tabouret tabouret"
    "totem tabouret tabouret tabouret"
}
.chaise{
  grid-area: chaise;
}
.banc_blanc{
  grid-area: banc_blanc;
}
.nouvellecollection{
  grid-area: nouvellecollection;
}
.canape_3_place{
  grid-area: canape_3_place;
}
.canape_3_place_prix{
  width: 100px;
  height: 100px;
  background-color: #62c5de;
  color: white;
  border-radius: 50%;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.canape_3_place_prix_old{
  text-decoration: line-through;
}
.zio{
  grid-area: zio;
}
.totem{
  grid-area: totem;
}
.tabouret{
  grid-area: tabouret;
}

.Acheter{
  display: flex;
  font-size: 0.7em;
}
.Acheter a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 2px;
}
.Acheter div{
  color: white;
  margin-left: 5px;
  font-size: 0.2em;
  border: 1px solid white;
  padding: 4px;
  border-radius: 50%;
}

.nouvellecollection{
  background-image: url("images/meubles/nouvellecollection.jpg");
  background-size: 610px;
  padding: 40px;
  height: 360px;
}
.nouvellecollection_idea_design{
  background-color: #535353;
  color: white;
  padding: 8px;
  margin-top: 180px;
  text-transform: uppercase;
  font-weight: bold;
  width: 180px;
  font-size: 0.7em;
  letter-spacing: 2px;
}
.nouvellecollection_nouvelle{
  font-weight: bold;
  font-size: 3em;
  color: white;
}
.nouvellecollection_collection{
  color: white;
  font-size: 2.2em;
}
.nouvellecollection_texte{
  width: 150px;
  font-size: 0.6em;
  margin-top: 5px;
  color: white;
}
.nouvellecollection_prix{
  margin-top: 20px;
  color: white;
  font-size: 1.5em;
}

.canape_3_place{
  background-image: url("images/meubles/canape3places.jpg");
  background-size: 630px;
  background-position: 25% 20%;
  padding: 20px;
}
.canape_3_place_canape_fauteuil{
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
}
.canape_3_place_en_cuir{
  color: white;
  font-size: 1.2em;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.canape_3_place_prix{
  margin-top: 100px;
  margin-left: 40%;
}

.banc_blanc{
  background-image: url("images/meubles/coussinsblancs.jpg");
  background-size: 400px;
  background-position: -10px 420px;
  padding: 10px;
  height: 200px;
}
.banc_blanc_titre{
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}
.banc_blanc_coussin{
  font-weight: bold;
  margin-top: 5px;
}
.banc_blanc_prix{
  color: #991015;
  margin-top: 80px;
  margin-left: 140px;
  font-size: 1.6em;
}
.banc_blanc_acheter{
  margin-top: 10px;
  margin-left: 140px;
}
.banc_blanc_acheter a{
  color: white;
  font-size: 0.8em;
  text-decoration: none;
  background-color: black;
  padding: 5px 10px 5px 10px;
  text-transform: uppercase;
}

.chaise{
  background-image: url("images/meubles/chaise-accourdoirs.jpg");
  height: 170px;
  padding: 15px;
  background-size: 220px;
  background-position: 70px 59px;
  background-repeat: no-repeat;
}
.chaise_titre{
  color: #2c3e66;
  font-weight: bold;
  font-size: 0.9em;
  width: 100px;
  text-transform: uppercase;
}
.chaise_price_old{
  color: #aaa;
  text-decoration: line-through;
  margin-top: 50px;
}
.chaise_price_actuel{
  color: #2c3e66;
  font-size: 1.5em;
  margin-top: 5px;
}
.chaise_acheter{
  display: flex;
  margin-top: 15px;
}
.chaise_acheter div{
  color: black;
  margin-left: 5px;
  border: 1px solid black;
  padding: 6px;
  font-size: 0.8em;
  border-radius: 50%;
}
.chaise_acheter a{
  text-decoration: none;
  color: #2c3e66;
  margin-top: 5px;
}

.zio{
  background-color: #c6e6a1;
  display: flex;
  text-align: right;
  padding: 5px;
}
.zio_textblock{
  width: 180px;
  margin-top: 20px;
}
.zio_image img{
  width: 145px;
}
.zio_titre{
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.zio_chaise{
  color: white;
  letter-spacing: 2px;
}
.zio_acheter{
  margin-top: 50px;
  margin-left: 105px;
}
.zio_acheter div{
  background-color: rgba(0,0,0,0.1);
}

.totem{
  background-image: url("images/meubles/totemfloor.jpg");
  background-size: 380px;
  background-position: -20px -80px;
  padding: 30px;
}
.totem_titre{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: right;
  font-size: 1.5em;
  margin-top: 10px;
}
.totem_lampes{
  font-size: 1em;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: right;
}
.totem_achetez{
  margin-left: 215px;
  margin-top: 120px;
}
.totem_achetez a{
  color: #999;
}
.totem_achetez div{
  background-color: white;
  color: #777;
  border-color: #999;
}

.tabouret{
  background-image: url("images/meubles/tabouret.jpg");
  background-position: -240px -200px;
  color: #444;
}
.tabouret_filtre{
  background-color: rgba(255,255,255,0.5);
  padding: 30px;
  height: 370px
}
.tabouret_titre{
  font-size: 3em;
  font-weight: bold;
}
.tabouret_prix_design{
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-bottom: 10px;
}
.tabouret_cool{
  font-size: 3em;
}
.tabouret_fesse_amour{
  font-size: 0.8em;
}
@media screen and (max-width: 780px){
    .collection{
      margin: auto;
      width: 565px;
      grid-gap: 0;
      grid-template-columns: 50% 50%;
      grid-template-areas:
        "nouvellecollection nouvellecollection"
        "nouvellecollection nouvellecollection"
        "canape_3_place banc_blanc"
        "canape_3_place chaise"
        "zio zio"
        "totem totem"
        "tabouret tabouret"
        "tabouret tabouret"
    }
    .totem{
      background-size: 600px;
    }
    .totem div{
      margin-left: 25px;
      text-align: left;
    }
}
/***** MOMENT ******/

.moment_menue{
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 30px;
}
.moment_menue a{
  text-decoration: none;
  color: #6d6a68;
  font-weight: bold;
  text-transform: uppercase;

}

.moment{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.moment_img{
  width: 240px;
  height: 240px;
}
@media screen and (max-width: 780px){
  .moment_menue{
    width: 100%;
  }
  .moment{
    flex-direction: column;
  }
  .moment_img{
    width: 60%;
    height: auto;
  }
  .moment_tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}
.moment_nom{
  color: #6d6a68;
  margin-left: 10px;
  margin-top: 10px;
}
.moment_prix{
  font-size: 1em;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
}
/**** PRE_BESTSELLER *****/
.before_bestseller{
  display: flex;
  margin-top: 50px;
}
@media screen and (max-width: 780px){
  .before_bestseller{
    flex-direction: column;
  }
  .before_bestseller_tile{
    margin: auto;
    margin-top: 10px;
  }
}
.before_bestseller_tile{
  width: 33.3333%;
  padding: 20px;
}
.before_bestseller_title{
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 50px;
}
.before_bestseller_categorie{
  font-size: 1em;
  color: #aaa;
}
.before_bestseller_see{
  display: flex;
}
.before_bestseller_see a{
  text-decoration: none;
  text-transform: uppercase;
  color: #aaa;
  margin-top: 5px;
}
.before_bestseller_see div{
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid grey;
  margin-left: 10px;
}
.lamp{
  color: white;
  text-transform: uppercase;
}
.Horloge{
  background-image: url("images/meubles/horloges.png");
  background-size: 350px;
  background-position: 0px -20px;
}
.Tables{
  background-image: url("images/meubles/tablebase.jpg");
  background-size: 370px;
  background-position: 0 -50px;
}
.Lumiere{
  background-image: url("images/meubles/lampes.png");
  background-size: 460px;
  background-position: -20px 0px;
}
/**** BESTSELLER *****/
.bestseller{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
@media screen and (max-width: 780px) {
  .bestseller{
    flex-wrap: wrap;
  }
  .bestseller_tile{
    margin: auto;
    margin-bottom: 10px;
  }
}
.bestseller_titre{
  text-transform: uppercase;
  font-weight: bold;
}
.bestseller_img{
  width: 190px;
  height: 190px;
}
.bestseller_nom{
  color: #6d6a68;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 0.8em;
}
.bestseller_prix{
  margin-left: 10px;
  font-weight: bold;
}
.bestseller_tile{
  position: relative;
}
.bestseller_hover_trigger{
  position: absolute;
  opacity: 0;
  height: 190px;
  width: 190px;
  bottom: 45px;
}
.bestseller_hover{
  background-color: #eee;
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 190px;
  position: absolute;
  bottom: 0px;
  text-align: center;
  opacity: inherit;
}
.bestseller_hover_trigger:hover{
  opacity: 1;
  transition: opacity 200ms;
}
.bestseller_buy{
  border: 1px solid #eee;
  flex-grow: 3;
  padding-top: 15px;
  font-size: 1em;
  text-align: left;
  margin-left: 20px;
}
.icon-exchange-arrows{
  border: 1px solid #eee;
  flex-grow: 1;
  padding-top: 15px;
}
.icon-heart{
  border: 1px solid #eee;
  flex-grow: 1;
  padding-top: 15px;
}

/**** PARTENAIRE ****/
.suedois{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 780px) {
  .suedois{
    flex-wrap: wrap;

  }
}
/***** PRE_FOOTER ****/
.footer{
  padding-top: 50px;
  background-color: #eee;
  margin-top: 50px;
  font-size: 0.7em;
}
.otherinfo{
  width: 1000px;
  margin: auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.otherinfo_title{
  font-weight: bold;
  margin-bottom: 40px;
}
.otherinfo_link{

  margin-bottom: 20px;
}
.otherinfo_link a{
  text-decoration: none;
  color: #666;
}
.logo_otherinfo{
  width: 80%;
}
.otherinfo_location{
  display: flex;
  margin-bottom: 40px;
  margin-top: 50px;
}
.otherinfo_location div{
  margin-right: 10px;
}
.otherinfo_telephone{
  display: flex;
}
.otherinfo_telephone div{
  margin-right: 10px;
}
.otherinfo_mail{
  display: flex;
}
.otherinfo_mail div{
  margin-right: 10px;
}
.otherinfo_form{
  margin-bottom: 40px;
}
.otherinfo_form_mail{
  padding: 20px;
  margin: 0;
  border-radius: 40px 0 0 40px;
  border-style: none;
}
.otherinfo_form_submit{
  padding: 20px;
  margin: 0;
  border-radius: 0 40px 40px 0;
  color: #eee;
  border-style: none;
  background-color: #444;
}
.otherinfo_form_submit:hover{
  color: #444;
  background-color: #eee;
  transition: background-color 100ms;
}
.follow{
  text-align: right;
}
.iconlist{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  font-size: 1.4em;
  color: #888;
}
@media screen and (max-width: 780px){
  .iconlist{
    flex-wrap: wrap;
  }
  .otherinfo{
    flex-wrap: wrap;
    width: auto;
  }
}
/***** FOOTER ******/
footer{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: auto;
  padding: 10px 010px 0;
}
.payement{
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  width: 25%;
}
.copyright span{
  font-weight: bold;
}
/***** REFERENCE *****/
.reference{
  margin: auto;
  margin-bottom: 40px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reference_tile{
  display: flex;
  flex-direction: row;
}
.reference_icon{
  font-size: 2em;
  margin-right: 10px;
}
.reference_text{
  display: flex;
  flex-direction: column;
}
.preference_titre{
  text-transform: uppercase;
  font-weight: bold;
}
.preference_comment{
  font-size: 0.8em;
}
@media screen and (max-width: 780px){
  footer{
    flex-wrap: wrap;
    width: auto;
  }
  .payement{flex-wrap: wrap;}
  .reference{
    flex-wrap: wrap;
    width: auto;
  }
}
